.fade-in-word {
    opacity: 0;
    animation: fadeIn 3s forwards; /* 1s is the duration of the animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }